<cabecera-ganadero  nombrePagina="Lista ganado"></cabecera-ganadero>

<ion-content>

	<ion-row>
		<ion-col col-sm-10>
			<ion-searchbar placeholder="Buscar..." [(ngModel)]="filterTerm" animated="true" (ionChange)="filterItems()"></ion-searchbar>
		</ion-col>
		<ion-button (click)="CreatePopover()">Avanzada</ion-button>
	</ion-row>

	<div padding>
	  <ion-segment [(ngModel)]="tipoMostrado">
	    <ion-segment-button value="hembras">
	      Hembras
	    </ion-segment-button>
	    <ion-segment-button value="machos">
	      Machos
	    </ion-segment-button>
	  </ion-segment>
	</div>
	<div [ngSwitch]="tipoMostrado">
	  <ion-list *ngSwitchCase="'hembras'">
	    <ion-item button *ngFor="let animal of arrayHembrasTemp | filter:filterTerm;let i=index" (click)="detalle(animal)">
	      <ion-checkbox *ngIf="venta==2 && (animal.baja!=true)" [(ngModel)]="checkedItemsHembras[animal.id]" value="animal.id"></ion-checkbox>
	      <ion-thumbnail item-left>
	        <img [src]="getFotoAnimal(animal)" class="tam_image_animal">
	      </ion-thumbnail>
	      <ion-label class="ion-text-wrap" [color]="animal.baja ? 'danger' : 'dark'">
	        <h2><b>Número:</b>{{animal.numero}}</h2>
	    	<p>
				<span *ngIf="animal.alias!=null"><b>Alias:</b> {{animal.alias}} </span>
				<span *ngIf="animal.raza!=null"><b>Raza:</b> {{animal.raza}} </span>
				<span *ngIf="animal.fechaUltimoNacimiento!=null"><b>Parición:</b> {{animal.fechaUltimoNacimiento ? animal.fechaUltimoNacimiento.toLocaleString("es", {weekday: "short",year: "numeric",month: "2-digit",day: "numeric"}) : ''}} </span>
				<span *ngIf="animal.peso!=null"><b>Peso:</b> {{animal.peso}} </span>
				<span *ngIf="venta!=2">
					<span *ngIf="animal.precioCompra!=0"><b>Compra:</b> {{animal.precioCompra}} € </span>
					<span *ngIf="animal.precioVenta!=0"><b>Venta:</b> {{animal.precioVenta}} € </span>
				</span>
	    	</p>
	      </ion-label>
		  <!-- Number type input -->
		  <ion-item *ngIf="venta==2">
			<ion-label>Peso</ion-label>
			<ion-input type="number" [(ngModel)]="animal.peso" min="0" class="ion-text-right"></ion-input>
		  </ion-item>
		  <ion-item *ngIf="venta==2">
			<ion-label>Precio</ion-label>
			<ion-input type="number" [(ngModel)]="animal.precioVenta" min="0" class="ion-text-right"></ion-input>
		  </ion-item>
	    </ion-item>

	  </ion-list>

	  <ion-list *ngSwitchCase="'machos'">
	    <ion-item button *ngFor="let animal of arrayMachosTemp | filter:filterTerm;let i=index" (click)="detalle(animal)">
	      <ion-checkbox *ngIf="venta==2 && (animal.baja!=true)" [(ngModel)]="checkedItemsMachos[animal.id]" value="animal.id"></ion-checkbox>
	      <ion-thumbnail item-left>
	        <img [src]="getFotoAnimal(animal)" class="tam_image_animal">
	      </ion-thumbnail>
	      <ion-label class="ion-text-wrap" [color]="animal.baja ? 'danger' : 'dark'">
	        <h2><b>Número:</b>{{animal.numero}}</h2>
	    	<p>
				<span *ngIf="animal.alias!=null"><b>Alias:</b> {{animal.alias}} </span>
				<span *ngIf="animal.raza!=null"><b>Raza:</b> {{animal.raza}} </span>
				<span *ngIf="animal.peso!=null"><b>Peso:</b> {{animal.peso}} </span>
				<span *ngIf="venta!=2">
					<span *ngIf="animal.precioCompra!=0"><b>Compra:</b> {{animal.precioCompra}} € </span>
					<span *ngIf="animal.precioVenta!=0"><b>Venta:</b> {{animal.precioVenta}} € </span>
				</span>
	    	</p>
	      </ion-label>
		  <ion-item *ngIf="venta==2">
			<ion-label>Peso</ion-label>
			<ion-input type="number" [(ngModel)]="animal.peso" min="0" class="ion-text-right"></ion-input>
		  </ion-item>
		  <ion-item *ngIf="venta==2">
			<ion-label>Precio</ion-label>
			<ion-input type="number" [(ngModel)]="animal.precioVenta" min="0" class="ion-text-right"></ion-input>
		  </ion-item>
	    </ion-item>

	  </ion-list>
	</div>


  	<ion-fab vertical="bottom" horizontal="start" *ngIf="venta!=2 && venta!=1 && venta!=3">
		<ion-fab-button color="dark">
			<ion-icon name="add" role="img" class="icon icon-ios ion-ios-add" aria-label="add">
	    	</ion-icon>
		</ion-fab-button>
		<ion-fab-list side="end">
			<ion-fab-button (click)="nuevo(0)"><img src="assets/img/vaca.png" ></ion-fab-button>
			<ion-fab-button (click)="nuevo(1)"><img src="assets/img/toro.png" ></ion-fab-button>
		</ion-fab-list>
	</ion-fab>

	<div *ngIf="venta==2">
		<ion-fab vertical="bottom" horizontal="start" >
	      <ion-fab-button color="primary" ion-fab="" class="fab fab-ios fab-ios-danger" (click)="volver()">
	          <ion-icon name="close"></ion-icon>
	      </ion-fab-button>
	  </ion-fab>

	  <ion-fab vertical="bottom" horizontal="end" >
	      <ion-fab-button color="secondary" ion-fab="" class="fab fab-ios fab-ios-danger" (click)="enviarResultadoAVentas()">
	          <ion-icon name="checkmark"></ion-icon>
	      </ion-fab-button>
	  </ion-fab>
	</div>

</ion-content>
