.img_vacuna {
    content: url(/assets/img/vacuna.png);
}

.img_enfermedad {
    content: url(/assets/img/enfermedad.png);
}

.tam_image_animal{
    width: 10vw;
    margin: auto;
    display: block;
  }
