.img_toro {
    content: url(/assets/img/toro.png);
}

.img_vaca {
    content: url(/assets/img/toro.png);
}

.tam_image_animal{
  width: 10vw;
  margin: auto;
  display: block;
}

::ng-deep .alert-wrapper{
  max-width: 80% !important;
  width: 80% !important;
}

.alert-checkbox-label.sc-ion-alert-md{
  padding-inline-start: 26px !important;
}