<ion-content>
  <form [formGroup]="formularioAnimal">
  <ion-card [disabled]="animal.baja">
  	<ion-fab vertical="top" horizontal="end">
      <ion-fab-button color="dark">
        <ion-icon name="add" role="img" class="icon icon-ios ion-ios-add" aria-label="add">
          </ion-icon>
      </ion-fab-button>
      <ion-fab-list side="bottom" >
        <ion-fab-button (click)="anadirDescendencia(0)"><img src="assets/img/vaca.png" ></ion-fab-button>
        <ion-fab-button (click)="anadirDescendencia(1)"><img src="assets/img/toro.png" ></ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    <upload-file-component [getFotoAnimal]="getFotoAnimal()" (deletePhotoNumber)="deletePhoto($event)"></upload-file-component>
   <ion-card-content>
      <h2 class="card-title text-center">
        <b></b>
      </h2>
      <p class="text-center">
        <i></i>
       </p>
      <ion-card-title class="text-center">{{animal.getNumero()}}</ion-card-title>
      <ion-card-subtitle class="text-center">{{animal.getAlias()}}</ion-card-subtitle>
        <ion-grid>
            <ion-row>
              <ion-col>
                <ion-row>
                  <ion-col col-sm-8>
                  <ion-item  class="text-label">
                    <ion-label position="floating">
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Raza
                    </ion-label>
                    <ion-input type="string" formControlName="raza" [(ngModel)]="animal.raza"></ion-input>
                     </ion-item>
                    <ion-item *ngIf="!formularioAnimal.controls.raza.valid  && (formularioAnimal.controls.raza.dirty || submitAttempt)">
                        <p>Introduce una raza correcto</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-sm-8>
                    <ion-item class="text-label">
                      <ion-label position="floating"><ion-icon name='calendar' item-left class="color-iconos"></ion-icon>Fecha nacimiento
                      </ion-label>

                        <ion-datetime displayFormat="YYYY-MM-DD" formControlName="fechaNacimiento" [(ngModel)]="fechaNacimiento"> </ion-datetime>
                      </ion-item>
                    <ion-item *ngIf="!formularioAnimal.controls.fechaNacimiento.valid  && (formularioAnimal.controls.fechaNacimiento.dirty || submitAttempt)">
                        <p>Introduce una fecha correcta</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="isInstanceOfHembra(animal)">
                  <ion-col col-sm-8>
                    <ion-item class="text-label">
                      <ion-label position="floating"><ion-icon name='calendar' item-left class="color-iconos"></ion-icon>Fecha última parición
                       </ion-label>
                          <ion-datetime displayFormat="YYYY-MM-DD" [ngModelOptions]="{standalone: true}" [(ngModel)]="fechaUltimoNacimiento"> </ion-datetime>
                        </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-sm-8>
                      <ion-item class="text-label">
                      <ion-label position="floating">
                       <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Precio compra
                      </ion-label>

                       <ion-input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="animal.precioCompra"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-sm-8>
                    <ion-item class="text-label">
                      <ion-label position="floating">
                       <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Precio venta
                      </ion-label>
                        <ion-input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="animal.precioVenta"></ion-input>
                      </ion-item>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col col-sm-8>
                    <ion-item  class="text-label">
                      <ion-label position="floating">
                       <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Peso
                      </ion-label>
                      <ion-input type="number"  [ngModelOptions]="{standalone: true}" [(ngModel)]="animal.peso" min="0"></ion-input>
                    </ion-item>
                    </ion-col>
                  </ion-row>
                <ion-row>
                  <ion-col col-sm-8>
                    <my-list-opcionesAscDesc [model]="servicio.ganado" [texto]="'Ascendencia'" [tipo]="false" [animalHerencia]="this.animal.id"
                     [(animalesSelecionados)]="this.animal.ascendencia"></my-list-opcionesAscDesc>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-sm-8>
                    <my-list-opcionesAscDesc [model]="servicio.ganado" [texto]="'Descendencia'" [tipo]="true" [animalHerencia]="this.animal.id"
                     [(animalesSelecionados)]="this.animal.descendencia"></my-list-opcionesAscDesc>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-sm-6>
                    <ion-button color="primary" expand="block" [disabled]="animal.baja" (click)="cambiarEnfermedad()">Enfermedades</ion-button>
                  </ion-col>
                  <ion-col col-sm-6>
                    <ion-button color="primary" expand="block" [disabled]="animal.baja" (click)="cambiarVacunas()">Vacunas</ion-button>
                  </ion-col>
                </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card-content>

      <ion-row>
       <ion-col col-sm-12>
        <ion-button size="large" color="primary" expand="block" (click)="modificaDatosAnimal()" [disabled]="!formularioAnimal.valid || animal.baja">Guardar</ion-button>
     </ion-col>
    </ion-row>


  </ion-card>
</form>
</ion-content>

<ion-footer>
  <ion-fab vertical="bottom" horizontal="start">
    <ion-fab-button color="dark"  (click)="volver()">
      <ion-icon name="arrow-back" role="img" class="icon icon-ios arrow-back" aria-label="arrow-back">
        </ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-footer>