 <!-- app/pages/profile/profile.html
<ion-navbar *navbar>
  <ion-title>Profile</ion-title>
</ion-navbar>

<ion-content  style="height:100vh;" padding *ngIf="!auth.authenticated()">

  <button block (click)="auth.login()">Login</button>

</ion-content>
-->
<cabecera-ganadero></cabecera-ganadero>

<ion-content padding>

  <!-- just a login button if not authenticated -->
  <div *ngIf="!isLoggedIn">
    <ion-button size="large" expand="block" (click)="logearse()">Login</ion-button>
  </div>

  <!-- a card with your picture and name, plus a logout button -->
  <div *ngIf="isLoggedIn">
    <div *ngIf="auth.getProfileUserData() | async as user">
      <ion-card>
        <img [src]="'user.picture'" />
        <ion-card-content>
          <ion-card-title>{{ 'user.name' }} - {{ user.email }}</ion-card-title>
        </ion-card-content>
      </ion-card>
      <ion-button size="large" expand="block" (click)="logout()">Logout</ion-button>
    </div>
  </div>

</ion-content>