<ion-content>

      <form [formGroup]="formularioAnimal">
        <ion-grid>
            <ion-row>
              <ion-col>
                <upload-file-component [getFotoAnimal]="getFotoAnimal()"></upload-file-component>
                <ion-row>
                  <ion-col col-sm-8>
                  <ion-item  class="text-label">
                    <ion-label position="floating">
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Número
                    </ion-label>
                      <ion-input type="number" formControlName="numero" [(ngModel)]="animal.numero"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!formularioAnimal.controls.numero.valid  && (formularioAnimal.controls.numero.dirty || submitAttempt)">
                        <p style="color:red;">Introduce un numero correcto</p>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                <ion-col col-sm-8>
                  <ion-item  class="text-label">
                    <ion-label position="floating">
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Alias
                    </ion-label>
                      <ion-input type="string" formControlName="alias" [(ngModel)]="animal.alias"></ion-input>
                    </ion-item>
                   <!-- <ion-item *ngIf="!formularioAnimal.controls.alias.valid  && (formularioAnimal.controls.alias.dirty || submitAttempt)">
                        <p style="color:red;">Introduce un alias correcto</p>
                    </ion-item>
                    -->
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-sm-8>
                  <ion-item  class="text-label">
                    <ion-label position="floating">
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Raza
                    </ion-label>
                    <ion-input type="string" formControlName="raza" [(ngModel)]="animal.raza"></ion-input>
                     </ion-item>
                    <ion-item *ngIf="!formularioAnimal.controls.raza.valid  && (formularioAnimal.controls.raza.dirty || submitAttempt)">
                        <p style="color:red;">Introduce una raza</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                    <ion-item class="text-label">
                      <ion-label position="floating"><ion-icon name='map' item-left class="color-iconos"></ion-icon>Fecha Nacimiento
                      </ion-label>

                        <ion-datetime displayFormat="YYYY-MM-DD" formControlName="fechaNacimiento" [(ngModel)]="fechaNacimiento"> </ion-datetime>
                      </ion-item>
                    <ion-item *ngIf="!formularioAnimal.controls.fechaNacimiento.valid  && (formularioAnimal.controls.fechaNacimiento.dirty || submitAttempt)">
                        <p style="color:red;">Introduce una fecha correcta</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4 && isInstanceOfHembra(animal)">
                <ion-col col-sm-8>
                  <ion-item class="text-label">
                    <ion-label position="floating"><ion-icon name='map' item-left class="color-iconos"></ion-icon>Fecha Último Nacimiento
                     </ion-label>
                        <ion-datetime displayFormat="YYYY-MM-DD" [ngModelOptions]="{standalone: true}" [(ngModel)]="fechaUltimoNacimiento"> </ion-datetime>
                      </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-sm-8>
                    <ion-item class="text-label">
                    <ion-label position="floating">
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Precio compra
                    </ion-label>
                     <ion-input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="animal.precioCompra"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                  <ion-item class="text-label">
                    <ion-label position="floating">
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Precio venta
                    </ion-label>
                      <ion-input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="animal.precioVenta"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-sm-8>
                  <ion-item  class="text-label">
                    <ion-label position="floating">
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Peso
                    </ion-label>
                    <ion-input type="number"  [ngModelOptions]="{standalone: true}" [(ngModel)]="animal.peso" min="0"></ion-input>
                  </ion-item>
                  </ion-col>
                </ion-row>

<!--                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                    <my-list-vacunasenfermedades [model]="animal.getVacunas()"  [texto]="'Vacunas'" (arraySalida)="anadirElementoVacunas($event)"></my-list-vacunasenfermedades>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                    <my-list-vacunasenfermedades [model]="animal.getEnfermedades()" [texto]="'Enfermedades'" (arraySalida)="anadirElementoEnfermedad($event)"></my-list-vacunasenfermedades>
                  </ion-col>
                </ion-row>
                -->
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                    <my-list-opcionesAscDesc [model]="ganadoServicio.ganado" [texto]="'Ascendencia'" [tipo]="false"
                     [(animalesSelecionados)]="arrayAscendencia"></my-list-opcionesAscDesc>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                    <my-list-opcionesAscDesc [model]="ganadoServicio.ganado" [texto]="'Descendencia'" [tipo]="true"
                     [(animalesSelecionados)]="arrayDescendencia"></my-list-opcionesAscDesc>
                  </ion-col>
                </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>

    <ion-row *ngIf="compra!=4">
       <ion-col col-sm-12>
          <ion-button size="large" color="primary" expand="block" (click)="guardaDatosAnimal()">Guardar</ion-button>
       </ion-col>
    </ion-row>

<!-- <div *ngIf="compra!=4">
  <ion-fab right top>
      <button ion-fab color="secondary" (click)="changeEffect()">
          <ion-icon name="md-color-wand"></ion-icon>
      </button>
  </ion-fab>

  <ion-fab right bottom>
      <button ion-fab color="primary" (click)="takePicture(1)">
          <ion-icon name="md-camera"></ion-icon>
      </button>
  </ion-fab>
</div> -->

<div *ngIf="compra==4">

  <ion-fab vertical="top" horizontal="start">
    <ion-fab-button color="dark"  (click)="volver()">
      <ion-icon name="arrow-back" role="img" class="icon icon-ios arrow-back" aria-label="arrow-back">
        </ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end">
    <ion-fab-button color="success"  (click)="guardaDatosAnimal()">
      <ion-icon name="checkmark" role="img" class="icon icon-ios arrow-back" aria-label="arrow-back">
        </ion-icon>
    </ion-fab-button>
  </ion-fab>
</div>
</form>
</ion-content>
<ion-footer *ngIf="compra!=4">
  	<ion-fab vertical="bottom" horizontal="start">
      <ion-fab-button color="dark"  (click)="volver()">
        <ion-icon name="arrow-back" role="img" class="icon icon-ios arrow-back" aria-label="arrow-back">
          </ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-footer>