<ion-header>
  <ion-navbar> 
  	  <ion-row center>
	  	  <ion-col width-20 offset-10>
	  	  	<p>{{servicio.getExplotacion().getNombre()}}</p>
	  	  	<p>{{servicio.getExplotacion().getEmailUsu()}}</p>
	  	  </ion-col>
	  	  <ion-col width-20 offset-10>
	  	  	<p>Machos: {{servicio.getExplotacion().getArrayMachos().length}}</p>
	  	  	<p>Hembras: {{servicio.getExplotacion().getArrayHembras().length}}</p>
	  	  </ion-col>
	  	  <ion-col width-20 offset-10>
	  	  	<p>Total: {{servicio.getExplotacion().getDineroTotal()}}€</p>
	  	  	<p>Anual: {{servicio.getExplotacion().getDineroAnual()}}€</p>
	  	  </ion-col>
	  	   <ion-col>
		      <button ion-button menuToggle right>
		          <ion-icon name="ios-menu-outline"></ion-icon>
		      </button>
	      </ion-col>
      </ion-row>
  </ion-navbar>
</ion-header>

<ion-content class="page3">

	<div padding>
	  <ion-segment [(ngModel)]="tipoMostrado">
	    <ion-segment-button value="hembras">
	      Hembras
	    </ion-segment-button>
	    <ion-segment-button value="machos">
	      Machos
	    </ion-segment-button>
	  </ion-segment>
	</div>
	<div [ngSwitch]="tipoMostrado">
	  <ion-list *ngSwitchCase="'hembras'">
	    <ion-item *ngFor="let animal of arrayHembras" (click)="detalle(animal)">
	      <ion-thumbnail item-left>
	        <img src="{{animal.getFoto()}}">
	      </ion-thumbnail>
	      	<h2>{{animal.getNumero()}}</h2>
	    	<p>{{animal.getAlias()}} {{animal.getRaza()}} {{animal.getFechaUltimoNacimiento().toLocaleDateString()}}</p>
	    </ion-item>
	    
	  </ion-list>

	  <ion-list *ngSwitchCase="'machos'">
	    <ion-item *ngFor="let animal of arrayMachos" (click)="detalle(animal)">
	      <ion-thumbnail item-left>
	        <img src="{{animal.getFoto()}}">
	      </ion-thumbnail>
	      	<h2>{{animal.getNumero()}}</h2>
			<p>{{animal.getAlias()}} {{animal.getRaza()}}</p>
	    </ion-item>
	    
	  </ion-list>
	</div>
</ion-content>
