<cabecera-ganadero nombrePagina="{{textoCabecera}}"></cabecera-ganadero>
<ion-content>
  <ion-list>
    <ion-list-header *ngIf="!this.identificacionAnimal">
      Seleccione las conocidas en su zona
    </ion-list-header>

    <!-- List Header with Outline Button -->
    <ion-list-header lines="full"  *ngIf="this.identificacionAnimal">
      <ion-label>
        <ion-list>
          <ion-item>
            <ion-label>Seleccione</ion-label>
            <ion-select #selectEnferVac okText="Añadir" cancelText="Cancelar" (ionBlur)="getIdSeleccion($event)">
              <ion-select-option *ngFor="let vacuEnf of arrayDataShowExplotacion | async" value="{{vacuEnf.id}}">{{vacuEnf.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-label>
      <ion-label>
        <ion-item>
          <ion-label>Fecha</ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="anadirAGanado.fecha"> </ion-datetime>
        </ion-item>
      </ion-label>
      <ion-button fill="outline"(click)="anadirDatosAGanado()">Añadir</ion-button>
    </ion-list-header>
    <div *ngIf="arrayDataShow | async">
      <ion-item *ngFor="let vacuEnf of arrayDataShow | async">
        <ion-avatar slot="start" (click)="anadirVacEnf(true,vacuEnf.id)">
          <img *ngIf="this.tipoMostrado==='vacuna'" src="assets/img/vacuna.png">
          <img *ngIf="this.tipoMostrado==='enfermedad'" src="assets/img/enfermedad.png">
        </ion-avatar>
        <ion-label *ngIf="!this.identificacionAnimal">
          <h2>{{vacuEnf.nombre}}</h2>
          <p>{{vacuEnf.descripcion}}</p>
        </ion-label>
        <ion-label *ngIf="this.identificacionAnimal && this.tipoMostrado==='vacuna'">
          <h2>{{vacuEnf.vacuna.nombre}}</h2>
          <p>{{vacuEnf.vacuna.descripcion}}</p>
        </ion-label>
        <ion-label *ngIf="this.identificacionAnimal && this.tipoMostrado==='enfermedad'">
          <h2>{{vacuEnf.enfermedad.nombre}}</h2>
          <p>{{vacuEnf.enfermedad.descripcion}}</p>
        </ion-label>
        <ion-label *ngIf="this.identificacionAnimal">{{vacuEnf.fecha.split("T")[0]}}</ion-label>
      <ion-checkbox *ngIf="!this.identificacionAnimal" slot="end" [(ngModel)]="vacuEnf.isChecked" (ionChange)="anadirElementoExplotacion()"></ion-checkbox>
    </ion-item>

    </div>


  </ion-list>
    <ion-fab-button *ngIf="!this.identificacionAnimal"  color="dark" (click)="anadirVacEnf(false)">
      <ion-icon name="add" role="img" class="icon icon-ios ion-ios-add" aria-label="add">
      </ion-icon><div class="button-effect"></div>
    </ion-fab-button>

</ion-content>