<ion-content>

      <form [formGroup]="formularioAnimal">
        <ion-grid>
            <ion-row>
              <ion-col>
                <img #scannedImg [src]="animal.foto" />
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                  <ion-item  class="text-label">
                    <ion-label>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Cargar Imagen 
                    </ion-label>
                    <button ion-button item-right small (click)="takePicture(2)">Galeria</button>
                    <button ion-button item-right small (click)="takePicture(0)">Foto</button>
                   </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="compra==4">
                  <ion-col col-sm-4>
                      <button [class.btn-redondo]="!isHembra" [class.btn-redondo-activo]="isHembra" (click)="seleccionarSexo(0)"><img src="assets/img/vaca.png"></button>
                  </ion-col>
                  <ion-col col-sm-4>
                     <button [class.btn-redondo]="isHembra" [class.btn-redondo-activo]="!isHembra" (click)="seleccionarSexo(1)"><img src="assets/img/toro.png"></button>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-sm-8>
                  <ion-item  class="text-label">
                    <ion-label floating>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Número 
                    </ion-label>
                      <ion-input type="number" formControlName="numero" [(ngModel)]="animal.numero"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!formularioAnimal.controls.numero.valid  && (formularioAnimal.controls.numero.dirty || submitAttempt)">
                        <p>Introduce un numero correcto.</p>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                <ion-col col-sm-8>
                  <ion-item  class="text-label">
                    <ion-label floating>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Alias 
                    </ion-label>
                      <ion-input type="string" formControlName="alias" [(ngModel)]="animal.alias"></ion-input>
                    </ion-item>
                    <ion-item *ngIf="!formularioAnimal.controls.alias.valid  && (formularioAnimal.controls.alias.dirty || submitAttempt)">
                        <p>Introduce un alias correcto.</p>
                    </ion-item>
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col col-sm-8>
                  <ion-item  class="text-label">
                    <ion-label floating>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Raza 
                    </ion-label>
                    <ion-input type="string" formControlName="raza" [(ngModel)]="animal.raza"></ion-input>
                     </ion-item>
                    <ion-item *ngIf="!formularioAnimal.controls.raza.valid  && (formularioAnimal.controls.raza.dirty || submitAttempt)">
                        <p>Introduce una raza correcto</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                    <ion-item class="text-label">
                      <ion-label floating><ion-icon name='map' item-left class="color-iconos"></ion-icon>Fecha Nacimiento
                      </ion-label>
                    
                        <ion-datetime displayFormat="YYYY-MM-DD" formControlName="fechaNacimiento" [(ngModel)]="fechaNacimiento"> </ion-datetime>
                      </ion-item>
                    <ion-item *ngIf="!formularioAnimal.controls.fechaNacimiento.valid  && (formularioAnimal.controls.fechaNacimiento.dirty || submitAttempt)">
                        <p>Introduce una fecha correcta</p>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4 && isInstanceOfHembra(animal)">
                <ion-col col-sm-8>
                  <ion-item class="text-label">
                    <ion-label floating><ion-icon name='map' item-left class="color-iconos"></ion-icon>Fecha Último Nacimiento
                     </ion-label>
                        <ion-datetime displayFormat="YYYY-MM-DD" [ngModelOptions]="{standalone: true}" [(ngModel)]="fechaUltimoNacimiento"> </ion-datetime>
                      </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col col-sm-8>
                    <ion-item class="text-label">
                    <ion-label floating>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Precio compra 
                    </ion-label>
                    
                     <ion-input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="animal.precioCompra"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                  <ion-item class="text-label">
                    <ion-label floating>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Precio venta 
                    </ion-label>
                      <ion-input type="number" [ngModelOptions]="{standalone: true}" [(ngModel)]="animal.precioVenta"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
<!--                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                    <my-list-vacunasenfermedades [model]="animal.getVacunas()"  [texto]="'Vacunas'" (arraySalida)="anadirElementoVacunas($event)"></my-list-vacunasenfermedades>   
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                    <my-list-vacunasenfermedades [model]="animal.getEnfermedades()" [texto]="'Enfermedades'" (arraySalida)="anadirElementoEnfermedad($event)"></my-list-vacunasenfermedades>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                    <my-list-opcionesAscDesc [model]="animal.getAscendencia()" [texto]="'Ascendencia'" [tipo]="false" 
                    (arraySalida)="anadirArrayAscendencia($event)"></my-list-opcionesAscDesc>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="compra!=4">
                  <ion-col col-sm-8>
                    <my-list-opcionesAscDesc [model]="animal.getDescendencia()" [texto]="'Descendencia'" [tipo]="true" 
                    (arraySalida)="anadirArrayDescendencia($event)"></my-list-opcionesAscDesc>
                  </ion-col>
                </ion-row> -->
            </ion-col>
          </ion-row>
        </ion-grid>
    </form>
    <ion-row *ngIf="compra!=4">
      <ion-fab left top>
          <button ion-fab color="dark" (click)="volver()">
              <ion-icon name="arrow-back"></ion-icon>
          </button>
      </ion-fab>

       <ion-col col-sm-12>
          <button ion-button color="dark" (click)="guardaDatosAnimal()" full>Guardar</button>
       </ion-col>
    </ion-row>

<!-- <div *ngIf="compra!=4">
  <ion-fab right top>
      <button ion-fab color="secondary" (click)="changeEffect()">
          <ion-icon name="md-color-wand"></ion-icon>
      </button>
  </ion-fab>

  <ion-fab right bottom>
      <button ion-fab color="primary" (click)="takePicture(1)">
          <ion-icon name="md-camera"></ion-icon>
      </button>
  </ion-fab>
</div> -->

<div *ngIf="compra==4">
  <ion-fab right top>
      <button ion-fab (click)="guardaDatosAnimal()">
          <ion-icon name="arrow-round-forward"></ion-icon>
      </button>
  </ion-fab>

  <ion-fab left bottom>
      <button ion-fab color="primary" (click)="volver()">
          <ion-icon name="close"></ion-icon>
      </button>
  </ion-fab>

  <ion-fab right bottom>
      <button ion-fab color="secondary" (click)="enviarResultadoACompras()">
          <ion-icon name="checkmark"></ion-icon>
      </button>
  </ion-fab>
</div>

</ion-content>
