<cabecera-ganadero></cabecera-ganadero>
<ion-content padding class="page1">
  <ion-card>
   <ion-card-content>
      <ion-card>
        <ion-grid>
            <ion-row>
              <ion-col>

                <ion-row>
                  <ion-col width-20>
                    <label>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Número 
                    </label>
                  </ion-col>
                  <ion-col width-80>
                    <input type="string"  [(ngModel)]="animal.numero">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col width-20>
                    <label>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Alias 
                    </label>
                  </ion-col>
                  <ion-col width-80>
                    <input type="string" [(ngModel)]="animal.alias">
                  </ion-col>
                </ion-row>

                <ion-row>
                  <ion-col width-20>
                    <label>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Raza 
                    </label>
                  </ion-col>
                  <ion-col width-80>
                    <input type="string" [(ngModel)]="animal.raza">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-20>
                    <label><ion-icon name='map' item-left class="color-iconos"></ion-icon>Fecha Nacimiento
                     </label>
                  </ion-col>
                  <ion-col width-80>
                      <ion-item class="text-label">
                        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="fechaNacimiento"> </ion-datetime>
                      </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row *ngIf="isInstanceOfHembra(animal)">
                <ion-col width-20>
                    <label><ion-icon name='map' item-left class="color-iconos"></ion-icon>Fecha Último Nacimiento
                     </label>
                  </ion-col>
                  <ion-col width-80>
                      <ion-item class="text-label">
                        <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="fechaUltimoNacimiento"> </ion-datetime>
                      </ion-item>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-20>
                    <label>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Precio compra 
                    </label>
                  </ion-col>
                  <ion-col width-80>
                    <input type="number" [(ngModel)]="animal.precioCompra">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-20>
                    <label>
                     <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Precio venta 
                    </label>
                  </ion-col>
                  <ion-col width-80>
                    <input type="number" [(ngModel)]="animal.precioVenta">
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-20>
                    <label><ion-icon name='map' item-left class="color-iconos"></ion-icon>Ascendencia
                      <ion-icon name="add-circle"></ion-icon>
                    </label>
                  </ion-col>
                  <ion-col width-80>
                    <div *ngFor="let ganado of arrayAscendencia" >
                      <ion-badge item-right [color]="devuelveColorBadge(ganado)" (click)="irDetalleDesdeDetalle(ganado)">{{ganado.getAlias()}}</ion-badge>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-20>
                      <label><ion-icon name='map' item-left class="color-iconos"></ion-icon>Descendencia
                        <ion-icon name="add-circle"></ion-icon>
                      </label>
                  </ion-col>
                  <ion-col width-80>
                      <div *ngFor="let ganado of arrayDescendencia" >
                        <ion-badge item-right color="secondary" (click)="irDetalleDesdeDetalle(ganado)">{{ganado.getAlias()}}</ion-badge>
                      </div>
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-20>
                      <label><ion-icon name='map' item-left class="color-iconos"></ion-icon>Vacunas
                        <ion-icon name="add-circle"></ion-icon>
                      </label>

                  </ion-col>
                  <ion-col width-80>
                    <div *ngFor="let textoLabel of animal.getVacunas(); let n=index" >
                    <input type="string" [(ngModel)]="animal.getVacunas()[n]" value="{{textoLabel}}">
                    </div>        
                  </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col width-20>
                      <label><ion-icon name='map' item-left class="color-iconos"></ion-icon>Enfermedades
                      <ion-icon name="add-circle"></ion-icon>
                      </label>
                        
                  </ion-col>
                  <ion-col width-80>
                    <div *ngFor="let textoLabel of animal.getEnfermedades(); let n=index" >
                    <input type="string"  [(ngModel)]="animal.getEnfermedades()[n]" value="{{textoLabel}}">
                    </div> 
                  </ion-col>
                </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-card-content>
    <ion-row>
      <ion-col width-10>
        <button ion-button color="dark" (click)="volver()" round right>Volver</button>
     </ion-col>
     <ion-col width-10 offset-80>
        <button ion-button color="dark" (click)="guardaDatosAnimal()" round right>Guardar</button>
     </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
