
<ion-content>
<cabecera-ganadero></cabecera-ganadero>
	<div padding>
	  <ion-segment [(ngModel)]="tipoMostrado">
	    <ion-segment-button value="ventas">
	      Ventas
	    </ion-segment-button>
	    <ion-segment-button value="compras">
	      Compras
	    </ion-segment-button>
	  </ion-segment>
	</div>
	<div [ngSwitch]="tipoMostrado">
	  <ion-list *ngSwitchCase="ventas">
	    <ion-item *ngFor="let venta of arrayVentas" (click)="verListadoAnimales(venta.getAnimales(),2)">
	     <ion-thumbnail item-left>
	        <img src="assets/icon/up-price.png">
	      </ion-thumbnail>
	      	<h1>{{venta.getAgrupacion()}}</h1>

	      	<ion-row>
	      		<ion-col width-33>
		      		<label>
		      			<b>Precio:</b> {{venta.getPrecio()}}
		      		</label>
	      		</ion-col>
	      		<ion-col width-33>
		      		<label>
		      			<b>Fecha:</b> {{venta.getFechaOperacion() ? venta.getFechaOperacion().toLocaleDateString() : ''}}
		      		</label>
	      		</ion-col>
	      		<ion-col width-33>
		      		<label>
		      			<b>Animales:</b> {{venta.getAnimales().length}}
		      		</label>
	      		</ion-col>
	      	</ion-row>
	    </ion-item>
	  </ion-list>

	  <ion-list *ngSwitchCase="'compras'">

	    <ion-item *ngFor="let compra of arrayCompras" (click)="verListadoAnimales(compra.getAnimales(),1)">
	     <ion-thumbnail item-left>
	        <img src="assets/icon/down-price.png">
	      </ion-thumbnail>
	      <h1>{{compra.getAgrupacion()}}</h1>
	      	<ion-row>
	      		<ion-col width-33>
		      		<label>
		      			<b>Precio:</b> {{compra.getPrecio()}}
		      		</label>
	      		</ion-col>
	      		<ion-col width-33>
		      		<label>
		      			<b>Fecha:</b> {{compra.getFechaOperacion() ? compra.getFechaOperacion().toLocaleDateString() : ''}}
		      		</label>
	      		</ion-col>
	      		<ion-col width-33>
		      		<label>
		      			<b>Animales:</b> {{compra.getAnimales().length}}
		      		</label>
	      		</ion-col>
	      	</ion-row>
	    </ion-item>
	  </ion-list>
	  <div *ngIf="tipoMostrado=='ventas'">
		<ion-fab vertical="bottom" horizontal="start">
			<ion-fab-button color="success">
				<ion-icon name="cash-outline" role="img" class="icon icon-ios ion-ios-add" aria-label="add" (click)="anadirDatosVentas()">
				</ion-icon>
			</ion-fab-button>
		</ion-fab>
	  </div>
	  <div *ngIf="tipoMostrado=='compras'">
		<ion-fab vertical="bottom" horizontal="start">
			<ion-fab-button color="danger">
				<ion-icon name="wallet-outline" role="img" class="icon icon-ios ion-ios-add" aria-label="add" (click)="anadirDatosCompras()">
				</ion-icon>
			</ion-fab-button>
		</ion-fab>
	  </div>
	</div>

</ion-content>
