
<ion-content>
<cabecera-ganadero></cabecera-ganadero>
	<div padding>
	  <ion-segment [(ngModel)]="tipoMostrado">
	    <ion-segment-button value="ventas">
	      Ventas
	    </ion-segment-button>
	    <ion-segment-button value="compras">
	      Compras
	    </ion-segment-button>
	  </ion-segment>
	</div>
	<div [ngSwitch]="tipoMostrado">
	  <ion-list *ngSwitchCase="'ventas'">
	    <ion-item button *ngFor="let venta of arrayVentas" (click)="verDetalleOperacion(venta,3)">
	     <ion-thumbnail item-left>
	        <img src="assets/icon/up-price.png">
	      </ion-thumbnail>
		  <ion-label>
	      	<h1>{{venta.agrupacion}}</h1>
	      	<ion-row>
	      		<ion-col width-33>
		      		<label>
		      			<b>Precio:</b> {{venta.precio}}
		      		</label>
	      		</ion-col>
				<ion-col width-33 *ngIf="venta.peso!=null && venta.peso!=0">
					<label>
						<b>Peso:</b> {{venta.peso}}
					</label>
				</ion-col>
	      		<ion-col width-33>
		      		<label>
		      			<b>Fecha:</b> {{venta.fechaOperacion ? venta.fechaOperacion.toLocaleDateString() : ''}}
		      		</label>
	      		</ion-col>
	      		<ion-col width-33>
		      		<label>
		      			<b>Animales:</b> {{venta.arrayIdAnimales? venta.arrayIdAnimales.length : 0}}
		      		</label>
	      		</ion-col>
	      	</ion-row>
		</ion-label>
	    </ion-item>
	  </ion-list>

	  <ion-list *ngSwitchCase="'compras'">

	    <ion-item button *ngFor="let compra of arrayCompras" (click)="verDetalleOperacion(compra,4)">
	     <ion-thumbnail item-left>
	        <img src="assets/icon/down-price.png">
	      </ion-thumbnail>
		  <ion-label>
			<h1>{{compra.agrupacion}}</h1>
				<ion-row>
					<ion-col width-33>
						<label>
							<b>Precio:</b> {{compra.precio}}
						</label>
					</ion-col>
					<ion-col width-33 *ngIf="compra.peso!=null && compra.peso!=0">
						<label>
							<b>Peso:</b> {{compra.peso}}
						</label>
					</ion-col>
					<ion-col width-33>
						<label>
							<b>Fecha:</b> {{compra.fechaOperacion ? compra.fechaOperacion.toLocaleDateString() : ''}}
						</label>
					</ion-col>
					<ion-col width-33>
						<label>
							<b>Animales:</b> {{compra.arrayIdAnimales? compra.arrayIdAnimales.length : 0}}
						</label>
					</ion-col>
				</ion-row>
		</ion-label>
	    </ion-item>
	  </ion-list>
	  <div *ngIf="tipoMostrado=='ventas'">
		<ion-fab vertical="bottom" horizontal="start" (click)="anadirDatosVentas()">
			<ion-fab-button color="success">
				<ion-icon name="cash-outline" role="img" class="icon icon-ios ion-ios-add" aria-label="add">
				</ion-icon>
			</ion-fab-button>
		</ion-fab>
	  </div>
	  <div *ngIf="tipoMostrado=='compras'">
		<ion-fab vertical="bottom" horizontal="start" (click)="anadirDatosCompras()">
			<ion-fab-button color="danger">
				<ion-icon name="wallet-outline" role="img" class="icon icon-ios ion-ios-add" aria-label="add">
				</ion-icon>
			</ion-fab-button>
		</ion-fab>
	  </div>
	</div>

</ion-content>
