<ion-header>
  <ion-toolbar>
    <ion-title>Avanzada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label>
      Fecha
    </ion-label>
  </ion-item-divider>
  <ion-row>
    <ion-col col-xs-12 col-sm-6>
      <ion-item class="text-label">
        <ion-label position="floating"><ion-icon name='calendar' item-left class="color-iconos"></ion-icon>Desde:
        </ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="filtroAvanzado.fechaDesde"> </ion-datetime>
        </ion-item>
    </ion-col>
    <ion-col col-xs-12 col-sm-6>
      <ion-item class="text-label">
        <ion-label position="floating"><ion-icon name='calendar' item-left class="color-iconos"></ion-icon>Hasta:
        </ion-label>
          <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="filtroAvanzado.fechaHasta"> </ion-datetime>
        </ion-item>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-list>
        <ion-item>
          <ion-label>Tipo fecha</ion-label>
          <ion-select placeholder="Seleccione una" [(ngModel)]="filtroAvanzado.tipoFecha" okText="OK" cancelText="Dismiss">
            <ion-select-option value="nacimiento">Nacimiento</ion-select-option>
            <ion-select-option value="paricion">Parición</ion-select-option>
            <ion-select-option value="compra">Compra</ion-select-option>
            <ion-select-option value="venta">Venta</ion-select-option>
            <ion-select-option value="baja">Baja</ion-select-option>
          </ion-select>
        </ion-item>

      </ion-list>
    </ion-col>
  </ion-row>

  <ion-item-divider>
    <ion-label>
      Ordenar por
    </ion-label>
  </ion-item-divider>
  <ion-list>
    <ion-radio-group [(ngModel)]="filtroAvanzado.ordenarPor" >
      <ion-item>
        <ion-label>Número</ion-label>
        <ion-radio slot="start" value="numero"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Parición</ion-label>
        <ion-radio slot="start" value="paricion"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Edad</ion-label>
        <ion-radio slot="start" value="edad"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Precio Venta</ion-label>
        <ion-radio slot="start" value="venta"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Precio Compra</ion-label>
        <ion-radio slot="start" value="compra"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Peso</ion-label>
        <ion-radio slot="start" value="peso"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-item-divider>
    <ion-label>
      Ordenar por
    </ion-label>
  </ion-item-divider>
  <ion-list>
    <ion-radio-group [(ngModel)]="filtroAvanzado.ordenarAsc">
      <ion-item>
        <ion-label>Ascendente</ion-label>
        <ion-radio slot="start"  [value]=true></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Descendente</ion-label>
        <ion-radio slot="start"  [value]=false></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-item-divider>
    <ion-label>
      Tomar en cuenta bajas
    </ion-label>
  </ion-item-divider>
  <ion-list>
    <ion-radio-group [(ngModel)]="filtroAvanzado.bajas">
      <ion-item>
        <ion-label>No</ion-label>
        <ion-radio slot="start"  [value]=false></ion-radio>
      </ion-item>

      <ion-item>
        <ion-label>Sí</ion-label>
        <ion-radio slot="start"  [value]=true></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>

  <ion-button size="small" color="primary" expand="full" fill="clear" (click)="emit()">Guardar</ion-button>

</ion-content>



