<ion-content>
  <cabecera-ganadero nombrePagina="{{tituloOperacion}}"></cabecera-ganadero>
  <form [formGroup]="formularioOperacion">
    <ion-grid>
        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col col-sm-6>
                <ion-button color="danger" expand="block" (click)="borrarOperacion()" full>Borrar</ion-button>
               </ion-col>
               <ion-col col-sm-6>
                <ion-button color="success"  expand="block" (click)="guardarOperacion()" [disabled]="operacion.id!=null" full>Guardar</ion-button>
               </ion-col>
             </ion-row>
            <ion-row>
              <ion-col col-sm-8>
              <ion-item  class="text-label">
                <ion-label position="floating">
                 <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Identificador
                </ion-label>
                  <ion-input type="string" formControlName="identificador" [disabled]="operacion.id!=null" [(ngModel)]="operacion.identificador"></ion-input>
                </ion-item>
                <ion-item *ngIf="!formularioOperacion.controls.identificador.valid  && (formularioOperacion.controls.identificador.dirty || submitAttempt)">
                    <p style="color:red;">Introduce un identificador correcto</p>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
            <ion-col col-sm-8>
              <ion-item  class="text-label">
                <ion-label position="floating">
                 <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Agrupacion
                </ion-label>
                  <ion-input type="string" formControlName="agrupacion"[disabled]="operacion.id!=null" [(ngModel)]="operacion.agrupacion"></ion-input>
                </ion-item>
                <ion-item *ngIf="!formularioOperacion.controls.agrupacion.valid  && (formularioOperacion.controls.agrupacion.dirty || submitAttempt)">
                  <p style="color:red;">Introduce una agrupacion correcta</p>
              </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-sm-8>
                <ion-item class="text-label">
                  <ion-label position="floating"><ion-icon name='map' item-left class="color-iconos"></ion-icon>Fecha
                  </ion-label>

                    <ion-datetime displayFormat="YYYY-MM-DD" formControlName="fecha" [disabled]="operacion.id!=null" [(ngModel)]="operacion.fechaOperacion"> </ion-datetime>
                  </ion-item>
                <ion-item *ngIf="!formularioOperacion.controls.fecha.valid  && (formularioOperacion.controls.fecha.dirty || submitAttempt)">
                    <p style="color:red;">Introduce una fecha correcta</p>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-sm-6>
                <ion-label position="floating">
                  <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Precio: {{operacion.precio}}
                 </ion-label>
              </ion-col>
              <ion-col col-sm-6>
                <ion-label position="floating">
                  <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>Peso: {{operacion.peso}}
                 </ion-label>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col col-sm-6>
                <ion-button color="tertiary" [disabled]="operacion.id!=null" expand="block" (click) = "anadirAnimalesAOperacion(0)" full>Añade Hembras</ion-button>
               </ion-col>
               <ion-col col-sm-6>
                <ion-button color="tertiary"  [disabled]="operacion.id!=null" expand="block" (click) = "anadirAnimalesAOperacion(1)" full>Añade Machos</ion-button>
               </ion-col>
             </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
</form>

<div padding>
  <ion-segment [(ngModel)]="tipoMostrado">
    <ion-segment-button value="hembras">
      Hembras
    </ion-segment-button>
    <ion-segment-button value="machos">
      Machos
    </ion-segment-button>
  </ion-segment>
</div>
<div [ngSwitch]="tipoMostrado">
  <ion-list *ngSwitchCase="'hembras'">
    <ion-item button *ngFor="let animal of arrayHembras;let i=index">
      <ion-thumbnail item-left>
        <img [src]="getFotoAnimal(animal)" class="tam_image_animal">
      </ion-thumbnail>
      <ion-label>
        <h2>{{animal.numero}}</h2>
        <p>{{animal.alias}}#{{animal.raza}}
        <span *ngIf="esCompra==4"> <b>Compra:</b> {{animal.precioCompra}} €</span>
        <span *ngIf="esCompra==3"> <b>Venta:</b> {{animal.precioVenta}} €</span>
        </p>
      </ion-label>
      <ion-button color="danger" expand="block" (click)="borrarAnimal(true,animal)" [disabled]="operacion.id!=null">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>

  <ion-list *ngSwitchCase="'machos'">
    <ion-item button *ngFor="let animal of arrayMachos;let i=index">
      <ion-thumbnail item-left>
        <img [src]="getFotoAnimal(animal)" class="tam_image_animal">
      </ion-thumbnail>
      <ion-label>
        <h2>{{animal.numero}}</h2>
        <p>{{animal.alias}}#{{animal.raza}}
          <span *ngIf="esCompra==4"> <b>Compra:</b> {{animal.precioCompra}} €</span>
          <span *ngIf="esCompra==3"> <b>Venta:</b> {{animal.precioVenta}} €</span>
        </p>
      </ion-label>
      <ion-button color="danger" slot="end" (click)="borrarAnimal(false,animal)" [disabled]="operacion.id!=null">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
    </ion-item>

  </ion-list>
</div>



</ion-content>
