
<ion-content>
<cabecera-ganadero></cabecera-ganadero>
	<div padding>
	  <ion-segment [(ngModel)]="tipoMostrado">
	    <ion-segment-button value="ventas">
	      Ventas
	    </ion-segment-button>
	    <ion-segment-button value="compras">
	      Compras
	    </ion-segment-button>
	  </ion-segment>
	</div>
	<div [ngSwitch]="tipoMostrado">
	  <ion-list *ngSwitchCase="'ventas'">
	    <ion-item *ngFor="let venta of arrayVentas" (click)="verListadoAnimales(venta.getAnimales(),2)">
	     <ion-thumbnail item-left>
	        <img src="assets/icon/up-price.png">
	      </ion-thumbnail>
	      	<h1>{{venta.getAgrupacion()}}</h1>
	      	
	      	<ion-row>
	      		<ion-col width-33>
		      		<label>
		      			<b>Precio:</b> {{venta.getPrecio()}}
		      		</label>
	      		</ion-col>
	      		<ion-col width-33>
		      		<label>
		      			<b>Fecha:</b> {{venta.getFecha().toLocaleDateString()}}
		      		</label>
	      		</ion-col>
	      		<ion-col width-33>
		      		<label>
		      			<b>Animales:</b> {{venta.getAnimales().length}}
		      		</label>
	      		</ion-col>
	      	</ion-row>
	      	
	    </ion-item>
    	<ion-fab right bottom>
		    <button ion-fab color="dark" (click)="anadirDatosVentas()">
		        <ion-icon name="add"></ion-icon>
		    </button>
		</ion-fab>
	  </ion-list>

	  <ion-list *ngSwitchCase="'compras'">
	    <ion-item *ngFor="let compra of arrayCompras" (click)="verListadoAnimales(compra.getAnimales(),1)">
	     <ion-thumbnail item-left>
	        <img src="assets/icon/down-price.png">
	      </ion-thumbnail>
	      <h1>{{compra.getAgrupacion()}}</h1>
	      	<ion-row>
	      		<ion-col width-33>
		      		<label>
		      			<b>Precio:</b> {{compra.getPrecio()}}
		      		</label>
	      		</ion-col>
	      		<ion-col width-33>
		      		<label>
		      			<b>Fecha:</b> {{compra.getFecha().toLocaleDateString()}}
		      		</label>
	      		</ion-col>
	      		<ion-col width-33>
		      		<label>
		      			<b>Animales:</b> {{compra.getAnimales().length}}
		      		</label>
	      		</ion-col>
	      	</ion-row>
	    </ion-item>
	    <ion-fab right bottom>
		    <button ion-fab color="dark" (click)="anadirDatosCompras()">
		        <ion-icon name="add"></ion-icon>
		    </button>
		</ion-fab>
	  </ion-list>
	</div>
	
</ion-content>
