<!--<ion-img #scannedImg [src]="getFotoAnimal[0]" class="tam_image_animal"></ion-img> -->
<ion-slides [options]="slideOpts" pager={{true}}>
  <ion-slide *ngFor="let foto of getFotoAnimal;let counter=index">
    <!-- <img [src]="foto" alt=”slide-{{counter}}+1” class="tam_image_animal"> -->
    <ion-img [src]="foto" alt=”slide-{{counter}}+1” class="tam_image_animal"></ion-img>
  </ion-slide>
</ion-slides>

<ion-row *ngIf="!noSubida">
  <ion-col col-sm-12>
  <ion-label>
    <ion-input accept="image/*" type="file" (change)="selectFile($event)"></ion-input>
  </ion-label>
  <ion-button color="secondary" [disabled]="!selectedFiles" (click)="upload()">Subir Foto</ion-button>
  <ion-button color="primary"  (click)="addPhotoToGallery()">    <ion-icon name="camera"></ion-icon>
    Tomar Foto</ion-button>
  <!-- <ion-button color="primary" (click)="loadPhotoToGallery()">Cargar Foto</ion-button> -->
  <ion-button color="danger" (click)="deletePhoto()">Borrar</ion-button>
  <div *ngIf="currentFileUpload" class="progress mt-2">
    <ion-progress-bar color="secondary" value="{{ percentage }}">{{ percentage }}%</ion-progress-bar>
  </div>


 <!--
  <ion-item  class="text-label">
    <ion-label>
      <ion-icon name="cloud-upload-outline"></ion-icon> Cargar Imagen
    </ion-label>
    <ion-button slot="start" size="small" [disabled]="!selectedFiles" (click)="upload()">Galeria</ion-button>
    <ion-button slot="start" size="small">Foto</ion-button>
    </ion-item> -->
  </ion-col>
</ion-row>