<ion-img #scannedImg [src]="getFotoAnimal" class="tam_image_animal"></ion-img>

<ion-slides [options]="slideOpts" pager="true">
  <ion-slide>
    <img src="assets/img/enfermedad.png" alt=”slide-1”>
  </ion-slide>
  <ion-slide>
    <img src="assets/img/cattle.png" alt=”slide-2”>
  </ion-slide>
  <ion-slide>
    <img src="assets/img/toro.png" alt=”slide-2”>
  </ion-slide>
</ion-slides>

<ion-row *ngIf="!noSubida">
  <ion-col col-sm-12>
  <ion-label>
    <ion-input accept="image/*" type="file" (change)="selectFile($event)"></ion-input>
  </ion-label>
  <ion-button color="primary" [disabled]="!selectedFiles" (click)="upload()">Subir</ion-button>
  <div *ngIf="currentFileUpload" class="progress mt-2">
    <ion-progress-bar color="secondary" value="{{ percentage }}">{{ percentage }}%</ion-progress-bar>
  </div>


 <!--
  <ion-item  class="text-label">
    <ion-label>
      <ion-icon name="cloud-upload-outline"></ion-icon> Cargar Imagen
    </ion-label>
    <ion-button slot="start" size="small" [disabled]="!selectedFiles" (click)="upload()">Galeria</ion-button>
    <ion-button slot="start" size="small">Foto</ion-button>
    </ion-item> -->
  </ion-col>
</ion-row>