<ion-header>
  <ion-navbar> 
  </ion-navbar>
</ion-header>

<ion-content padding class="page1">
  <ion-card>

    <img src="{{animal.getFoto()}}" class="tamanoreal"/>

   <ion-card-content>
      <h2 class="card-title">
        {{animal.getNumero()}}
      </h2>
      <p>
        {{animal.getAlias()}}
      </p>

        <ion-row>
          <ion-col>
            <ion-row>
              <ion-col width-20>
                <label>Raza 
                  <ion-icon name='trending-up' item-left class="color-iconos"></ion-icon>
                </label>
              </ion-col>
              <ion-col width-80>
                <input type="string" value="{{animal.getRaza()}}">
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-20>
                <label>Fecha Nacimiento
                  <ion-icon name='map' item-left class="color-iconos"></ion-icon>
                 </label>
              </ion-col>
              <ion-col width-80>
                  <ion-item class="text-label">
                    <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="fechaNacimiento"> </ion-datetime>
                  </ion-item>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-20>
                <label>Vacunas
                  <ion-icon name='color-wand' item-left class="color-iconos"></ion-icon>
                </label>  
              </ion-col>
              <ion-col width-80>
                <div *ngFor="let textoLabel of animal.getVacunas()" >
                <input type="string" value="{{textoLabel}}">
                </div>        
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col width-20>
                <label>Enfermedades
                  <ion-icon name='lock' item-left class="color-iconos"></ion-icon>
                </label>
              </ion-col>
              <ion-col width-80>
                <div *ngFor="let textoLabel of animal.getEnfermedades()" >
                <input type="string" value="{{textoLabel}}">
                </div> 
              </ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-content>
    <button ion-button color="dark" round right>Light</button>
  </ion-card>
</ion-content>
